@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@700&display=swap');
@custom-variant dark (&:where(.dark, .dark *));

body {
    font-family: 'Source Code Pro', monospace;
}

@theme {
    --color-darkbg: #030712;
    --color-lightbg: #FFFFFF;
    --color-darkborder: #1D202A;
    --color-lightborder: #E5E5E5;
    --color-primary-text: black;
    --color-darkprimary-text: white;
    --color-secondary-text: #404040;
    --color-darksecondary-text: #99A1AF;
}
 
/* Default (light mode) scrollbar */
::-webkit-scrollbar {
  height: 8px; /* for horizontal scroll */
  width: 8px;  /* for vertical scroll */
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Dark mode scrollbar */
.dark ::-webkit-scrollbar-track {
  background: #1e1e1e;
}

.dark ::-webkit-scrollbar-thumb {
  background: #555;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: #777;
}
